= link_to board_task_path(@board, task) do
  .card
    - if task.eyecatch.attached?
      .card_image
        = image_tag task.eyecatch
    .card_content
      .card_title
        = task.title
      .card_content
        = task.content
      .card_detail
        = image_tag @board.user.avatar_image
        %p
          = task.display_created_at
      .board_detail_actions    
        .dropdown
          = image_tag 'Combined Shape.png' , class:'dropbtn float_right'
          .dropdown-content.mini
            = link_to '編集する', edit_board_task_path(@board,task)
            = link_to '削除する', board_task_path(@board,task) , data: { method: :delete}
  
    -# - if @board.eyecatch.attached?
    -#   .card_image
    -#     = image_tag board.eyecath
    -# .card_content
    -#   .card_title
    -#     = board.title
    -#   .card_content
    -#     = board.content
    -#   .card_detail
    -#     = image_tag board.user.avatar_image
    -#     %div