-# = render 'task' , task: @task
= link_to board_task_path(@task.board) do
  .card
    - if @task.eyecatch.attached?
      .card_image
        = image_tag @task.eyecatch
    .card_content
      .card_title
        = @task.title
      .card_content
        = @task.content
      .card_detail
        -# = image_tag @board.user.avatar_image
      .board_detail_actions    
        .dropdown
          = image_tag 'Combined Shape.png' , class:'dropbtn float_right'
          .dropdown-content.mini
            = link_to '編集する', edit_board_task_path(@task.board)
            = link_to '削除する', board_task_path(@task.board) , data: { method: :delete}
        
.comment
  %h2 コメント一覧
- @comments.each do |comment|
  .task_comment
  %p= comment.content
.new_comment      
= link_to  new_board_task_comment_path(board) do
  .float_btn 
    %h2 + new comment        