.container
  %h2 New Board
  %ul
    -# - board.errors.full_messages.each do |message|
    -#   %li= message
  = form_with(model:board, local: true) do |f|
    %div
      = f.label :title, 'Name'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, 'Description'
    %div
      = f.text_area :content
    = f.submit '保存', class: 'submit submit-color'