!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}
  %body
    %header.header
      -# = image_tag 'Oval.png', class: 'header_right'
      .header_logos Boards
      .line
      - if user_signed_in?
        .dropdown
          = image_tag current_user.avatar_image, class: 'header_avatar_dropbtn header_right'
          .dropdown-content
            = link_to 'プロフィール', profile_path
            = link_to 'ログアウト', destroy_user_session_path
      - else
        = link_to 'ログイン', new_user_session_path,class: 'header_loginBtn'

= yield
